<h1>All Teams</h1>
<%= link_to "Teams", "/teams" %> <%= link_to "All Players", "/players" %>

<% @teams.each do |team| %>
  <p>"Club: <%= team.name %> <%= team.created_at %>"</p>
<% end %>

<%= link_to "New Team", "/teams/new" %>
