<h1>"<%= @teams.name %> Roster"</h1>
<%= link_to "Teams", "/teams" %> <%= link_to "All Players", "/players" %>

Return all players with jerseys higher than ( )
<%= form_with url: "/teams/#{@teams.id}/players/jerseys", method: :get, local: true do |form|%>
  <%= form.label :number %>
  <%= form.text_field :number %>
  <%= form.submit "Submit" %>
<% end %>

<% @players.each do |player| %>
<p>"Name: <%= player.fname %> <%= player.lname %>, Jersey: <%= player.jersey %>, Healthy: <%= player.healthy %>" <%= link_to "Edit", "/players/#{player.id}/edit" %> <%= link_to "Delete", "/players/#{player.id}", method: :delete %></p>
<% end %>



<%= link_to "Add Player", "/teams/#{@teams.id}/players/new" %>
<%= link_to "Alphabetize", "/teams/#{@teams.id}/players/alphabetize" %>
