<h1>All Players</h1>
<%= link_to "Teams", "/teams" %> <%= link_to "All Players", "/players" %>

<% @players.each do |player| %>
  <p>"Name: <%= player.fname %> <%= player.lname %>" <%= link_to "Edit", "/players/#{player.id}/edit" %></p>
  <p>"Jersey Number: <%= player.jersey %>"</p>
  <p>"Is he healthy? <%= player.healthy %>"</p>
<% end %>
