<h1>All Players</h1>
<%= link_to "Teams", "/teams" %> <%= link_to "All Players", "/players" %>

<% @players.each do |player| %>
  <p>"Name: <%= link_to player.fname, "/players/#{player.id}" %> <%= link_to player.lname, "/players/#{player.id}" %>" <%= link_to "Edit", "/players/#{player.id}/edit" %> <%= link_to "Delete", "/players/#{player.id}", method: :delete %></p>
  <p>"Jersey Number: <%= player.jersey %>"</p>
  <p>"Is he healthy? <%= player.healthy %>"</p>
<% end %>
