<h1>Player Info</h1>
<%= link_to "Teams", teams_path %> <%= link_to "All Players", players_path %>

  <p>"Name: <%= @players.fname %> <%= @players.lname %>"</p>
  <p>"Jersey: <%= @players.jersey %>"</p>
  <p>"Healthy: <%= @players.healthy %>"</p>
